*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #c5b9b9;
    width: 14vw;
    height: 180vh;
    transition:transform 0.3s ease-in;
}

.sidebar nav{
    width: 400px;
    padding: 43px;
    font-size: 25px;
}

.sidebar nav li{
    list-style: none;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main{
    width: 90vw;
}

.container{
    display: flex;
}

.infocontainer{
    height: 68vh;
    width: 77vw;
    margin: 87px;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 30px;
}
.name{
    font-size: 50px;
    font-weight: bolder;
}
.about{
    font-size: 30px;
}

.moreabout {
    margin-top: 23px;
}

.buttons{
    margin: 34px;
}

.btn{
    padding: 9px 14px;
    border-radius: 34px;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    margin: 0 7px;
    cursor: pointer;
}

.btn-sm{
    font-size: 17px;
}

.btn:hover{
    background-color: white;
    color: cadetblue;
}

.devPic img{
    margin: 16px;
    height: 68vh;
}

.contactform{
    padding: 0 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0 88px;
}

.contactform h1{
    font-family: Arial, Helvetica, sans-serif;
   padding: 12px; 

}

.contactform div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform div input{
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
}

.contactform{
    margin: 0 , 40px ;

}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}


#form-check{
    flex-direction: row;
 
}


#form-check input{
 width: 20px;
 margin: 3px 0;
}


h1{
    margin: 12px;
}

p{
    margin: 23px;
}

.skillcontainer{
    padding: 12px;
}

.skillitem{
    display: flex;
    align-items: center;
}

.skill{
    width: 298px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
}

.hundered{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 134px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.sidebargo{
    transform: translate(-556px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.intro{
    margin: 0 88px;
}

.cross{
    margin-left: 170px;
}

@media (max-width: 1248px) {
    *{
background-color: #a4e8a7;
    }
  /*  .sidebar{
        transform: translate(-556px, 0px);
        position: absolute;
    }*/
}
.intro, .contactform{
    margin: 50px 8px;
}

